<h1 class="text-success text-center">Angular Assessment</h1>

<div>
  <div class="row mt-4 justify-content-evenly text-center row-gap-4">
    <div class="col-5 border border-success">
      <a routerLink="customer">
        <h2>Customer</h2>
      </a>
    </div>
    <div class="col-5 border border-success">
      <a routerLink="employee">
        <h3>Employee</h3>
      </a>
    </div>
    <div class="col-5 border border-success">
      <a routerLink="patient">
        <h3>Patients</h3>
      </a>
    </div>
  </div>
</div>
